html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
    overflow: auto;
    


}

#locationControls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#locationControls label {
    display: block;
    margin-bottom: 5px;
}
#legend {
    position: absolute;
    bottom: 40px;
    left: 10px;
    z-index: 10;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #layerSelect {
    position: absolute;
    top: 100px;
    left: 10px;
    z-index: 10; /* Make sure the dropdown is above the map */
    background: white;
}
        

